.recommendation-title {
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 15px;
}

.recommendation-list {
	display: table;
	table-layout: fixed;
	width: 100%;
	font-size: 0;
	position: relative;
}

.recommendation-item {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 40px;
    overflow: hidden;
    position: relative;
    margin: 5px;
}

.recommendation-list .swiper-pagination {
	position: relative;
	margin: 15px auto 0;
	font-size: 0;
}

.recommendation-list .swiper-pagination-bullet {
	background-color: #c5b99f;
	width: 12px;
	height: 12px;
	opacity: 1;
}

.recommendation-item-ava {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    position: relative;
    overflow: hidden;
}

.recommendation-item-ava span {
    display: block;
    padding-bottom: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recommendation-item-header {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.recommendation-item-text {
	font-size: 15px;
}

.recommendation-item-info {
    display: inline-block;
}
.recommendation-item-info:not(:first-child) {
    margin-left: 40px;
}

.recommendation-item-info span {
    display: block;
}

span.recommendation-item-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

span.recommendation-item-meta {
    font-size: 13px;
    color: #777;
}

@media screen and (max-width: 767px) {
    .recommendation-item {
        padding: 20px;
    }

    .recommendation-item-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 479px) {
	.recommendation {
		margin-left: -15px;
		margin-right: -15px;
		background-color: #f3f1ec;
		box-shadow: 0 2px 0 0 #d9d9d9;
		border-bottom: 0;
		padding: 15px;
	}

	.recommendation-title {
		padding: 15px;
		margin-bottom: 0;
	}

	.recommendation-item {
		border-radius: 0;
		padding: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
