
@media all {

    .list {
        padding: 0;
        list-style: none;
        margin: 15px 0;
    }
    .list .item, .list li {
        position: relative;
        padding: 4px 0;
        padding-left: 20px;
    }
    .list .item:before, .list li:before {
        position: absolute;
        top: 12px;
        left: 0;
        /*background-color: #fa890f;*/
        width: 8px;
        height: 8px;
        content: '';
        /*-webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);*/
    }
    .list .item+.item{
        margin-top: 10px;
    }
    .list.style1 .item:before, ul.style1 li:before {
        border-radius: 100%;
    }
    .list.style1 .item, ul.style1 li {
        padding-left: 15px;
        font-size: 14px;
        font-weight: 600;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

}
@media screen and (max-width: 1279px) {
    .list .item {
        line-height: 1.2  ;
    }
}