@media all {
	.catalog-card {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
		position: relative;
		/* todo test fixed position */
		padding-bottom: 184px;
	}
	.catalog-card__image-w {
		position: relative;
	}
	.catalog-shares-label {

	}
	.catalog-card__image {
		height: 234px;
		display: block;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.catalog-card__body {
		padding: 16px 20px 10px;
		position: absolute;
		bottom: 0;
		background-color: #fff;
		width: 100%;
		z-index: 1;
	}
	.catalog-card__content {

	}
	.catalog-card__name {
		display: block;
		font-size: 20px;
		line-height: 1.3;
		color: #000;
		font-weight: 600;
		margin-bottom: 12px;
		height: 2.6em;
		overflow: hidden;
		text-decoration: none;
	}
		.catalog-card:hover .catalog-card__name {
			text-decoration: underline;
		}
	.catalog-card__address {

	}
	.catalog-card__address .map-link {
		text-decoration: none;
		display: inline-block;
		max-width: 100%;
		font-size: 13px;
		line-height: 1.4;
	}
	.catalog-card__hidden-content {
		padding: 10px 0 0;
		display: none;
	}
	.catalog-card__date {
		font-size: 13px;
		color: #888888;
	}
	.catalog-card__properties {
		font-size: 13px;
		color: #333;
		margin: 10px 0 12px;
	}
	.catalog-card__property {
		display: flex;
		justify-content: space-between;
	}
	.catalog-card__property + .catalog-card__property {
		margin-top: 11px;
	}
	.catalog-card__property-name {
		margin-right: 3px;
	}
	.catalog-card__property-value {
		color: #888888;
	}
	.catalog-card__footer {
		color: #333;
		padding: 14px 0 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;
		border-top: 1px solid #e4e4e4;
		font-size: 23px;
		margin-top: 12px;
	}
	.catalog-card:hover .catalog-card__footer-icon  {
		color: var(--primary-color);
	}
	.catalog-card__price {
		/* display: flex; */
		/* align-items: center; */
		line-height: 1;
	}
	.catalog-card__favorite-link {
		text-decoration: none;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		display: flex;
		align-items: center;
	}
	.catalog-card__favorite-icon {
		margin-right: 8px;
		font-size: 18px;
	}
	.catalog-card__favorite-label {

	}
	.catalog-card__footer-icon {
		font-size: 34px;
		color: #ccc;
	}
}
.price_for_metr_block {
	white-space: nowrap;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
}