.contacts-block{
    margin-bottom: 40px;
}
.contacts-block__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contacts-block__description {
    font-size: 13px;
    color: #666;
    line-height: 20px;
    margin: 5px 0;
}

.contacts-block__properties {
    margin-top: 10px;
}
.contacts-block__properties .property__icon > .icon-map {
    font-size: 20px;

}
