@media all {
	.ads-nav-sllider:after {
		position: absolute;
		top: 50%;
		display: block;
		content: '';
		height: 1px;
		width: 100%;
		background: #ccc;
	}

	.ads {
		margin: 0 auto;
		position: relative;
	}

	.ads-content .swiper-slide {
		text-align: center;
	}

	.ads-content .swiper-slide img {
		width: 100%;
		height: auto;
		vertical-align: top;
	}

	.ads-content .swiper-slide a {
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.ads-item {
		text-align: center;
		font-size: 0;
		position: relative;
		z-index: 1;
	}

	.ads:after {
		content: '';
		position: absolute;
		top: 39px;
		bottom: 0;
		left: 50%;
		width: 1px;
		height: 30px;
		background-color: #ccc;
	}

	.ads-item.swiper-slide {
		display: flex;
		width: 30px;
		height: 30px;
		align-items: center;
		justify-content: center;
	}

	.swiper-slide .ads-item-circle {
		display: inline-block;
		width: 16px;
		height: 16px;
		background: #ccc;
		border-radius: 50%;
	}

	.swiper-slide.is-active .ads-item-circle {
		width: 30px;
		height: 30px;
		background: #b23d1c;
	}

	.p__swiper.ads-nav-sllider .swiper-button-next {
		right: -65px;
	}

	.p__swiper.ads-nav-sllider .swiper-button-prev {
		left: -65px;
	}

	.p__swiper.ads-nav-sllider .swiper-container {
		margin: 10px 0px;
	}
}

@media screen and (max-width: 768px) {
	.swiper-slide .ads-item-circle {
		display: inline-block;
		width: 14px;
		height: 14px;
		background: #ccc;
		border-radius: 50%;
	}

	.swiper-slide.is-active .ads-item-circle {
		width: 22px;
		height: 22px;
		background: #b23d1c;
	}

	.p__swiper.ads-nav-sllider .swiper-container {
		margin: 5px 0px;
	}
}