
@media all {
	.mobile-search {
		position: relative;
		margin: 23px 20px;
	}
	.mobile-search__input {
		font-size: 14px;
		background-color: #fafaf8;
		height: 36px;
		padding: 0 40px 0 16px;
		width: 100%;
		border-radius: 3px;
		border: 1px solid #cbcbcb;
	}
	.mobile-search__button {
		border: none;
		background: none;
		position: absolute;
		color: #4e4e4e;
		width: 40px;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
	}
}