.bx-share-social {
	margin: 0;
	padding: 0;
	display: inline-flex;
	list-style: none;
	align-items: center;
	flex-direction: row-reverse;
}
.bx-share-icon {
	float: right;
	display: block;
	margin-top: 0;
	height: 22px;
	width: 22px;
}
.bx-share-icon + .bx-share-icon {
	margin-right: 8px;
}
.bx-share-icon a,
.bx-share-icon a:link,
.bx-share-icon a:visited,
.bx-share-icon a:active {
	color: #fff;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	display: block;
	height: 22px;
	width: 22px;
	border-radius: 3px;
}
